<!DOCTYPE html>
<html lang="en">
  

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://medical-admin-template.multipurposethemes.com/images/favicon.ico">

    <title>Doclinic - Dashboard</title>
    
	<!-- <?php include 'style.php';?> -->

     
  </head>

  <body class="devya-body hold-transition light-skin sidebar-mini theme-primary fixed">
  <!-- <?php include 'header.php';?> -->
  <section class="mt-5 " style="padding-top:75px;">
    <a href="http://localhost:5000/save_prediction" target="_blank">Page1</a>
    <a href="blood_group.html" target="_blank">Page2</a>
  </section>
  <!-- <?php include 'footer.php';?>
	<?php include 'script.php';?> -->
  </body>
  </html>