<!DOCTYPE html>
<html lang="en">
  

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://medical-admin-template.multipurposethemes.com/images/favicon.ico">

    <title>Doclinic - Dashboard</title>
    {% include "style.html" %}
	{% include "vendor_styles.html" %}
	{% include "script.html" %}
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- <?php include 'style.php';?> -->

     
  </head>

  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    {% include "header.html" %}
  <!-- <?php include 'header.php';?> -->
  <section>
    
  </section>
  <!-- <?php include 'footer.php';?>
	<?php include 'script.php';?> -->
  {% include "footer.html" %}
  </body>
  </html>