<!-- templates/style.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/devyani.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/demo-6.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/demo-7.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/skin_color.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_rtl.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/vendors_css.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/color_theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_rtl.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/font-awesome/css/font-awesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/Ionicons/css/ionicons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/themify-icons/themify-icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/linea-icons/linea.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/glyphicons/glyphicon.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/flag-icon-css/css/flag-icon.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/material-design-iconic-font/css/materialdesignicons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/simple-line-icons/css/simple-line-icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/cryptocoins-master/cryptocoins.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/weather-icons/css/weather-icons.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/iconsmind/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons/icomoon/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendor_components/animate/animate.css') }}">
